.about-img{
    margin-top: 3%;
    object-fit: cover;
    height: 48vw;
}

#about-img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.about-para{
    display: flex;
    padding: 10%;
    flex-direction: column;
    font-family:sans-serif;
    justify-content: center;
    align-items: center;
    margin-left: 5%;
}

.para-heading-about{
    font-weight: 800;
}

#para-about{
    margin-top: 5%;
    font-size: 20px;
}

.explore-vans{
    width: 90%;
    background-color: rgba(255, 204, 141, 1);
    gap: 20px;
    margin: 5%;
    margin-top: 10%;
    padding: 10%;
}

#btn-explore-van{
    border: none;
    background-color: black;
    border-radius: 9px;
    width: 30%;
    padding: 2% 5%;
    color: rgba(255, 255, 255, 1);
    font-weight: 700;
    line-height: 24px;
}

#heading{
    font-size: 28px;
    line-height: 38px;
    font-weight: 700;
}